@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
:root {
  --blue: #142988;
  --red: #8b180d;
  --light-blue: #c4ccff;
  --light-red: #f4c4cc;
  --red: #8b180d;
  --pink: #ce7a84;
  --bg: #0f1945;
  --bg-red: #38030a;
  --blue-arrow: #0e1b56;
  --red-arrow: #620d05;
  --bolus-blue: #5368f3e3;
  --bolus-red: #f35353e3;

  --table-head-bg-blue: #2449ee2f;
  --table-lines-blue: #253ca5;
  --table-active-bg-blue: rgb(35, 55, 143);
  --table-lines-active-blue: #4760cf;

  --table-head-bg-red: #ee24242f;
  --table-lines-red: #a52525;
  --table-active-bg-red: rgb(143, 35, 35);
  --table-lines-active-red: #cf4747;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
main {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.heart {
}
.table {
  flex: 1 1 0;
  margin-right: 1rem;
}
.controls {
  order: 3;
  flex-basis: 100%;
}
.tricuspid-valve-1,
.tricuspid-valve-2 {
  fill: var(--pink);
}
.mitral-valve-1,
.mitral-valve-2,
.pulmonary-valve-1,
.pulmonary-valve-2,
.aortic-valve-1,
.aortic-valve-2,
.pink {
  fill: var(--pink);
}
.atrium-r {
  fill: var(--blue);
}
.atrium-l,
.aorta-main,
.ventricle-l {
  fill: var(--red);
}
.ventricle-r,
.blue {
  fill: var(--blue);
}
.superior-vena-cava,
.superior-vena-cava-short,
.pulmonary-vein-short,
.pulmonary-artery,
.pulmonary-vein,
.aorta,
.bolus-right-path,
.bolus-left-path {
  fill: transparent;
}
.bolus-right-path,
.bolus-left-path {
  /* stroke: red; */
}
.arrow {
  position: absolute;
  top: -35px;
  left: -40px;
  opacity: 0;
  visibility: hidden;
  /* outline: 1px solid red; */
}
/* adjust offsets because it's in a ForeignObject element within the svg element */
.rapid-ejection-aorta-arrow {
  top: -75px;
  left: -88px;
}
.arrow svg {
  fill: none;
  stroke: var(--blue-arrow);
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 10px;
  transform: scale(66%);
}
.rapid-ejection-aorta-arrow svg {
  /* transform: scale(55%); */
}
.red svg {
  stroke: var(--red-arrow);
}
.st0 {
  fill: none;
  stroke: #000000;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

body {
  background-color: var(--bg);
  color: rgb(217, 224, 243);
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
.model {
  display: flex;
  gap: 1rem;
  margin: 1rem;
}
.model .heart {
  display: grid;
  align-items: center;
}
.heart-layer {
  grid-row-start: 1;
  grid-column-start: 1;
  position: relative;
}
.heart,
.heart-info {
  flex-grow: 1;
}
.heart-info {
  overflow: hidden;
}
.model ul {
  list-style: none;
  padding: 0;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  margin: 0;
}
.model ul li {
  width: 100%;
  padding: 0.5rem 0;
}
.model ul:first-of-type::after,
.model ul:nth-of-type(2)::after {
  content: "Systole";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 40pt;
  text-transform: uppercase;
}
.model ul:nth-of-type(2)::after {
  content: "Diastole";
}
.model ul:first-of-type {
  border-bottom: 1px solid rgb(105, 115, 229);
}
.phases {
  position: relative;
  align-self: start;
}
.phases::before {
  content: "";
  height: 2px;
  width: 105%;
  transform: translateX(-50%);
  background-color: rgb(248, 25, 25);
  position: absolute;
  top: 0%;
  left: 50%;
}
.phases .active {
  color: rgb(138, 148, 255);
}
h2 {
  text-align: center;
}
/* table */
.red table {
  background-color: var(--bg-red);
}
tr {
  /* border-bottom: 1px solid var(--blue); */
}
/* .active td {
  border-color: var(--table-lines-active);
} */
td:first-child {
  border-width: 0;
}
tr td:first-of-type {
  border-left-width: 0;
}
/* table tr:nth-child(2) td {
  border-top-width: 0;
} */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: calc(100% - 3rem);
  margin: auto;
  table-layout: fixed;
  font-size: 0.85rem;
}
td {
  vertical-align: middle;
}
tr th {
  /* background-color: var(--blue); */
}

td {
  padding: 10px;
  text-align: center;
}
td:last-of-type {
  /* border-right-width: 0; */
}
tr th {
  padding: 15px;
}
.red tr th:first-child,
.blue tr th:first-child {
  text-align: left;
  padding-right: 2rem;
}
.red tr th:first-child {
  background-color: var(--table-head-bg-red);
}
.blue tr th:first-child {
  text-align: left;
  padding-right: 2rem;
  background-color: var(--table-head-bg-blue);
}

tr:first-child th {
  /* border-left: 1px solid var(--blue); */
}
.blue tr:first-child th,
.blue tr:first-child td {
  background-color: var(--table-head-bg-blue);
}
.red tr:first-child th,
.red tr:first-child td {
  background-color: var(--table-head-bg-red);
}
/* tr:nth-last-child(1 of .active) td {
  background-color: var(--table-active-bg);
} */
.blue tr.highlight th,
.blue tr.highlight td {
  background-color: var(--table-active-bg-blue);
  color: var(--light-blue);
}
.red tr.highlight th,
.red tr.highlight td {
  background-color: var(--table-active-bg-red);
  color: var(--light-red);
}
.blue tr td,
.red tr td {
  font-size: 1.5rem;
}
.blue tr td {
  border: solid var(--table-lines-blue);
  border-width: 0 1px 1px 0;
}
.red tr td {
  border: solid var(--table-lines-red);
  border-width: 0 1px 1px 0;
}
.blue tr.highlight td {
  border: solid var(--table-lines-active-blue);
  border-width: 0 1px 0 0;
}
.red tr.highlight td {
  border: solid var(--table-lines-active-red);
  border-width: 0 1px 0 0;
}
tr.highlight td.animatedValve {
  border-width: 0;
}
.blue tr.highlight td:first-of-type {
  border-left: 1px solid var(--table-lines-active-blue);
}
.red tr.highlight td:first-of-type {
  border-left: 1px solid var(--table-lines-active-red);
}
.table table td,
.table table th {
  width: 16.666%;
}
#rapidFillingPhaseRight,
#rapidFillingPhaseLeft {
  position: relative;
  --bolus-pos: 16.666%;
  --bolus-offset: 0px;
  --bolus-opacity: 0;
}
table {
  position: relative;
}

#rapidFillingPhaseRight td:nth-child(3),
#rapidFillingPhaseLeft td:nth-child(3) {
  box-shadow: 0px 0px 0px 0px transparent inset;
  -webkit-box-shadow: 0px 0px 0px 0px transparent inset;
  -moz-box-shadow: 0px 0px 0px 0px transparent inset;
}
.bolus {
  position: absolute;
  top: -18px;
  left: -18px;
  opacity: 0;
}
.bolus-left {
  fill: var(--bolus-red);
  z-index: 1;
}
.heart-layer-2 {
  z-index: 2;
}
.bolus-right {
  fill: var(--bolus-blue);
  z-index: 3;
}
.pulmonary-top {
  z-index: 1;
}

/* P QRS T labels */
#atrialSystole th,
#isovolumetricContraction th,
#isovolumetricRelaxation th {
  position: relative;
}
#atrialSystole th::before,
#isovolumetricContraction th::before,
#isovolumetricRelaxation th::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  background: var(--blue);
  text-align: center;
  transform: translateY(-50%) translateX(-50%);
  /* border: 1px solid var(--light-blue); */
  color: var(--light-blue);
}
.red #atrialSystole th::before,
.red #isovolumetricContraction th::before,
.red #isovolumetricRelaxation th::before {
  background: var(--red);
  color: var(--light-red);
}
.red #atrialSystole th::before,
.red #isovolumetricContraction th::before,
.red #isovolumetricRelaxation th::before {
  color: var(--light-red);
}
#atrialSystole th::before {
  content: "P";
}
#isovolumetricContraction th::before {
  content: "QRS";
}
#isovolumetricRelaxation th::before {
  content: "T";
}
#rightVentricle,
#pulmonaryTrunk {
  position: relative;
}
#rightVentricle::before,
#pulmonaryTrunk::before {
  position: absolute;
  bottom: 0;
  left: 0;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  background: var(--blue);
  transform: translateX(-50%);
  color: var(--light-blue);
  white-space: nowrap;
  z-index: 2;
  padding: 0.5rem 0.25rem;
}
.red #rightVentricle::before,
.red #pulmonaryTrunk::before {
  background: var(--red);
  color: var(--light-red);
}
#rightVentricle::before {
  content: "Tricuspid Valve";
}
.red #rightVentricle::before {
  content: "Mitral Valve";
}
#pulmonaryTrunk::before {
  content: "Pulmonary Valve";
}
.red #pulmonaryTrunk::before {
  content: "Aortic Valve";
}
/* pathways between cells in table */
.openValve,
.animatedValve {
  position: relative;
}
.openValve::after {
  content: "⟶";
  width: 40px;
  height: 30px;
  background: var(--blue-arrow);
  color: var(--light-blue);
  border: solid var(--table-lines-active-blue);
  border-width: 2px 0;
  position: absolute;
  top: 50%;
  right: 0;
  text-align: center;
  font-size: 1.75rem;
  line-height: 10px;
  transform: translateY(-50%) translateX(50%);
  z-index: 1;
}
.red .openValve::after {
  background: var(--bg-red);
  color: var(--light-red);
  border: solid var(--table-lines-active-red);
  border-width: 2px 0;
}
.highlight .openValve::after {
  background-color: var(--table-active-bg-blue);
}
.red .highlight .openValve::after {
  background-color: var(--table-active-bg-red);
}
.openValve.flippedValve::after {
  content: "⟵";
}
.animatedValve {
  border-right-width: 0;
}
/* .tableHead .animatedValve.open + td {
  border-left-width: 0;
} */
.animatedValve::after,
.animatedValve::before {
  content: "";
  width: 5px;
  height: 50%;
  background-color: var(--table-lines-blue);
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: center 0%;
  transition: transform 250ms ease;
  z-index: 1;
}
.red .animatedValve::after,
.red .animatedValve::before {
  background-color: var(--table-lines-red);
}
.animatedValve::after {
  transform: rotate(0deg);
}
.animatedValve::before {
  transform-origin: center 100%;
  top: 100%;
  transform: translateY(-100%) rotate(0deg);
}
.animatedValve.closed::after {
  transform: translateY(3px) rotate(-60deg);
}
.animatedValve.closed::before {
  transform: translateY(-100%) rotate(60deg);
}
.openTricuspid .animatedValve.tricuspid.open::before,
.openPulmonary .animatedValve.pulmonary.open::before,
.openMitral .animatedValve.mitral.open::before,
.openAortic .animatedValve.aortic.open::before {
  transform: translateY(calc(-100% - 3px)) rotate(60deg);
  background: var(--table-lines-blue);
  z-index: 1;
  /* transition: transform 250ms ease; */
}
.red .openTricuspid .animatedValve.tricuspid.open::before,
.red .openPulmonary .animatedValve.pulmonary.open::before,
.red .openMitral .animatedValve.mitral.open::before,
.red .openAortic .animatedValve.aortic.open::before {
  background: var(--table-lines-red);
}
.openTricuspid .animatedValve.tricuspid.open::after,
.openPulmonary .animatedValve.pulmonary.open::after,
.openMitral .animatedValve.mitral.open::after,
.openAortic .animatedValve.aortic.open::after {
  transform: translateY(3px) rotate(-60deg);
  background: var(--table-lines-blue);
  z-index: 1;
}
.red .openTricuspid .animatedValve.tricuspid.open::after,
.red .openPulmonary .animatedValve.pulmonary.open::after,
.red .openMitral .animatedValve.mitral.open::after,
.red .openAortic .animatedValve.aortic.open::after {
  background: var(--table-lines-red);
}
.openTricuspid .animatedValve.tricuspid.closed::before,
.openPulmonary .animatedValve.pulmonary.closed::before,
.openMitral .animatedValve.mitral.closed::before,
.openAortic .animatedValve.aortic.closed::before {
  transform: translateY(-100%) rotate(0deg);
  background: var(--table-lines-blue);
}
.red .openTricuspid .animatedValve.tricuspid.closed::before,
.red .openPulmonary .animatedValve.pulmonary.closed::before,
.red .openMitral .animatedValve.mitral.closed::before,
.red .openAortic .animatedValve.aortic.closed::before {
  background: var(--table-lines-red);
}
.openTricuspid .animatedValve.tricuspid.closed::after,
.openPulmonary .animatedValve.pulmonary.closed::after,
.openMitral .animatedValve.mitral.closed::after,
.openAortic .animatedValve.aortic.closed::after {
  background: var(--table-lines-blue);
}
.red .openTricuspid .animatedValve.tricuspid.closed::after,
.red .openPulmonary .animatedValve.pulmonary.closed::after,
.red .openMitral .animatedValve.mitral.closed::after,
.red .openAortic .animatedValve.aortic.closed::after {
  background: var(--table-lines-red);
}
.animatedValve.closed {
  position: relative;
}
.highlight .animatedValve::before,
.highlight .animatedValve::after,
.openTricuspid .highlight .animatedValve.open::before,
.openTricuspid .highlight .animatedValve.open::after,
.openPulmonary .highlight .animatedValve.open::before,
.openPulmonary .highlight .animatedValve.open::after,
.openMitral .highlight .animatedValve.open::before,
.openMitral .highlight .animatedValve.open::after,
.openAortic .highlight .animatedValve.open::before,
.openAortic .highlight .animatedValve.open::after {
  background-color: var(--table-lines-active-blue);
}
.red .highlight .animatedValve::before,
.red .highlight .animatedValve::after,
.red .openTricuspid .highlight .animatedValve.open::before,
.red .openTricuspid .highlight .animatedValve.open::after,
.red .openPulmonary .highlight .animatedValve.open::before,
.red .openPulmonary .highlight .animatedValve.open::after,
.red .openMitral .highlight .animatedValve.open::before,
.red .openMitral .highlight .animatedValve.open::after,
.red .openAortic .highlight .animatedValve.open::before,
.red .openAortic .highlight .animatedValve.open::after {
  background-color: var(--table-lines-active-red);
}
.closedValve {
  border-right: 5px solid var(--table-lines-blue);
}
.red .closedValve {
  border-right: 5px solid var(--table-lines-red);
}
tr.active .closedValve {
  border-right: 5px solid var(--table-lines-active-blue);
  background-clip: padding-box;
}
.red tr.active .closedValve {
  border-right: 5px solid var(--table-lines-active-red);
}

/* BOLUS OBJECTS IN TABLE */
#rapidFillingPhaseRight,
#rapidFillingPhaseLeft {
  --bolus-pos: 16.666%;
  --bolus-offset: 0px;
  --bolus-opacity: 1;
  position: relative;
}
#rapidFillingPhaseRight::after,
#rapidFillingPhaseLeft::after,
#diastasisRight::after,
#diastasisLeft::after,
#atrialSystole::after,
#isovolumetricContraction::after,
#rapidVentricularEjection::after,
#slowVentricularEjection::after,
#isovolumetricRelaxation::after {
  content: "";
  width: 40px;
  height: 40px;
  border: 3px solid var(--bolus-blue);
  border-radius: 50%;
  position: absolute;
  left: calc(var(--bolus-pos) - var(--bolus-offset));
  top: 50%;
  transform: translateY(-50%);
  opacity: var(--bolus-opacity);
  z-index: 1;
}
.red #rapidFillingPhaseLeft::after,
.red #diastasisLeft::after,
.red #atrialSystole::after,
.red #isovolumetricContraction::after,
.red #rapidVentricularEjection::after,
.red #slowVentricularEjection::after,
.red #isovolumetricRelaxation::after {
  border: 3px solid var(--bolus-red);
}
#diastasisRight,
#diastasisLeft {
  position: relative;
  --bolus-pos: 41.665%;
  --bolus-offset: 0px;
  --bolus-opacity: 0;
}
#atrialSystole {
  position: relative;
  --bolus-pos: 58.333%;
  --bolus-offset: 0px;
  --bolus-opacity: 0;
}
#isovolumetricContraction {
  position: relative;
  --bolus-pos: 75%;
  --bolus-offset: 10px;
  --bolus-opacity: 0;
}
#rapidVentricularEjection {
  position: relative;
  --bolus-pos: 83.333%;
  --bolus-offset: 15px;
  --bolus-opacity: 0;
}
#slowVentricularEjection {
  position: relative;
  --bolus-pos: 91.666%;
  --bolus-offset: 0px;
  --bolus-opacity: 0;
}
#isovolumetricRelaxation {
  position: relative;
  --bolus-pos: 91.666%;
  --bolus-offset: -15px;
  --bolus-opacity: 0;
}

/* BOX SHADOWS */

.relax,
.red .relax,
.contract,
.red .contract {
  border: 6px solid var(--table-lines-active-blue);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.red .relax,
.red .contract {
  border: 6px solid var(--table-lines-active-red);
}
.contract,
.red .contract {
  border-width: 0;
}
.sideSwitch {
  text-align: center;
  margin-top: 1rem;
}
.sideSwitch button {
  border: 0;
  padding: 0.5rem 1rem;
}
#rightSide {
  background-color: var(--table-head-bg-blue);
  color: var(--table-head-text-blue);
}
#rightSide.currentTab {
  background: var(--table-lines-active-blue);
}
#leftSide {
  background-color: var(--table-head-bg-red);
  color: var(--table-head-text-red);
}
#leftSide.currentTab {
  background: var(--table-lines-active-red);
}
.sideSwitch button:hover {
  cursor: pointer;
}
.sideSwitch .currentTab {
  background: darkred;
  position: relative;
}
.sideSwitch .currentTab::after {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 9.5px 9px 9.5px;
  border-color: transparent transparent var(--table-lines-active-blue)
    transparent;
  transform: rotate(0deg);
  position: absolute;
  top: calc(100% + 3px);
  left: 50%;
  transform: translateX(-50%);
}
.sideSwitch #leftSide.currentTab::after {
  border-color: transparent transparent var(--table-lines-active-red)
    transparent;
}
.controls {
  /* background: green; */
}
.controls .timer {
  text-align: center;
  font-size: 1.5rem;
}
#rate {
  background-color: transparent;
  border: 0;
  color: #fff;
  margin-right: 1rem;
}
.controls .playButtons {
  background-color: var(--table-lines-active-blue);
  display: flex;
  gap: 1px;
  justify-content: left;
  align-items: center;
  width: 100%;
  font-size: 0.9rem;
}
.controls.redControls .playButtons {
  background-color: var(--table-lines-active-red);
}
.controls .playButtons input[type="range"] {
  flex-grow: 8;
  margin: 0 1rem;
}
.controls,
.controls button {
  font-family: "Roboto Mono", monospace;
}
.controls .playButtons button {
  border: 0;
  color: var(--table-head-text-blue);
  width: 60px;
  height: 60px;
  background-color: transparent;
}
.controls.redControls .playButtons button {
  color: var(--table-head-text-red);
}
.controls .playButtons button:hover {
  cursor: pointer;
  background-color: var(--blue);
}
.controls.redControls .playButtons button:hover {
  background-color: var(--red);
}
/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 25rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--table-lines-blue);
  border-radius: 2.5rem;
  height: 0.5rem;
}
.redControls input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--table-lines-red);
}
/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -8px; /* Centers thumb on the track */
  background-color: var(--table-lines-active-blue);
  border-radius: 2rem;
  height: 1.5rem;
  width: 1.5rem;
}
.redControls input[type="range"]::-webkit-slider-thumb {
  background-color: var(--table-lines-active-red);
}
input[type="range"]:focus::-webkit-slider-thumb {
  /* outline: 3px solid #808080; */
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: var(--table-lines-blue);
  border-radius: 2.5rem;
  height: 0.5rem;
}
.redControls input[type="range"]::-moz-range-track {
  background-color: var(--table-lines-red);
}
/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: var(--blue);
  border: none; /*Removes extra border that FF applies*/
  border-radius: 2rem;
  height: 1.5rem;
  width: 1.5rem;
}
.redControls input[type="range"]::-moz-range-thumb {
  background-color: var(--red);
}
input[type="range"]:focus::-moz-range-thumb {
  outline-offset: 0.125rem;
}

/* The switch - the box around the slider */
.controls .switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 25px;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

/* Hide default HTML checkbox */
.controls .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.controls .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
.controls .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
.controls input:checked + .slider {
  background-color: var(--blue);
}
.controls.redControls input:checked + .slider {
  background-color: var(--red);
}
.controls input:focus + .slider {
  box-shadow: 0 0 1px var(--blue);
}
.controls.redControls input:focus + .slider {
  box-shadow: 0 0 1px var(--red);
}
.controls input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.countUp,
.countDown {
  position: relative;
  display: block;
  width: 100%;
}
.countUp::after,
.countDown::after {
  content: "▲";
  color: var(--light-blue);
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  right: 10%;
  animation: moveUp 500ms infinite;
  visibility: hidden;
}
.red .countUp::after,
.red .countDown::after {
  color: var(--light-red);
}
.countDown::after {
  content: "▼";
  animation: moveDown 500ms infinite;
}
.highlight .countDown::after,
.highlight .countUp::after {
  visibility: visible;
}
@keyframes moveUp {
  0% {
    top: 70%;
    opacity: 1;
  }
  70% {
    top: 20%;
    opacity: 1;
  }
  71% {
    opacity: 0;
  }
  100% {
    top: 20%;
    opacity: 0;
  }
}

@keyframes moveDown {
  0% {
    top: 20%;
    opacity: 1;
  }
  70% {
    top: 70%;
    opacity: 1;
  }
  71% {
    opacity: 0;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}
